.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.board {
	border: 1px solid black;
	display: inline-flex;
	flex-direction: column;
	margin-top: 30px;
}

.row {
	display: inline-flex;
}

.startBtn {
	margin: 20px;
	text-align: center;
}
